
<nav class="navbar navbar-light bg-light">
  <p> <%= link_to "Wikinimous", articles_path %></p>
</nav>

<ul>
  <% @articles.each do |article| %>
    <li class="link"><%= link_to article.title, article_path(article) %></li>
    <p><%= article.content %></p>
  <% end %>
</ul>


<p><%= link_to "Add new article", new_article_path %></p>
