<nav class="navbar navbar-light bg-light">
  <p class="link"> <%= link_to "Wikinimous", articles_path %></p>
</nav>


<%= render "form", article: @article %>


<p><%= link_to "Wikinimous", articles_path %></p>
